name: stateHandler
phrase: state handler
insertionScope: namedFunction | statement | line
---

language: python

$name.insertionFormatter: SNAKE_CASE
-
def $name(self, e):
    if e.sig == qp.ENTRY_SIG:
        self.logger.info("entry/")
        return 0

    return self.__class__.$parent
---
