name: styledDiv
phrase: styled div
insertionScope: statement

$body.wrapperPhrase: styled div
$body.wrapperScope: statement
---

language: python
-
with a.div(style=cohost.style({$attrs})):
    $body
---
