# Edit ExecStart find to use your local recordings directory
# Edit the mtime argument to alter how many day's worth of recordings to keep
# cp talon-recordings* /etc/systemd/system/
# systemctl daemon-reload
# systemctl enable talon-recordings.timer

[Unit]
Description=Removes old talon recordings
Wants=talon-recordings.timer

[Service]
Type=oneshot
ExecStart=find /home/martin/.talon/recordings -type f -mtime +3 -exec rm -f {} +

[Install]
WantedBy=multi-user.target
