[Unit]
Description=Removes old talon recordings once every day
Requires=talon-recordings.service

[Timer]
Unit=talon-recordings.service
OnCalendar=*-*-* 12:30:00

[Install]
WantedBy=timers.target
